@charset "utf-8";
.main {
    color: #5C5C5C;
    background-color: #97CAD3;
    padding-bottom: 120px;
}
.title a{
    height: 310px;
    background-image: url(../images/profile/profile02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #D6553D;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}


/* 1項目目 */
.unit-modal_main {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.unit-modal_main h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 175px;
    padding-bottom: 10px;
}

.unit-modal_main h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 20px;
}

.unit-modal_inner {
    display: flex;
    margin-top: 32px;
    width: 100%;
}

.unit-modal_main dl {
    display: flex;
    width: 600px;
    max-width: 100%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    flex: 0 0 auto;
}

.unit-modal_main dl  p {
    margin-top: 5px;
}

.unit-modal_main dt {
    font-size: 17px;
    font-weight: 900;
    letter-spacing: .18em;
    width: 130px;
}

.unit-modal__main dd {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .08em;
    line-height: 1.8;
}

.unit-modal_inner img {
    width: 50%;
    height: 50%;
    margin-top: 35px;
}

.unit-modal_main h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 25px;
    padding-bottom: 10px;
}

.unit-modal_main h3::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 10px;
}

.feature-list a {
    text-decoration: underline;
}

.academic {
    margin-bottom: 100px;
}

.academic dl {
    width: 1000px;
}

/* SNS */
.github {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../images/profile/github.png);
}

.instagram {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../images/profile/Instagram.png);
}

.twitter {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../images/profile/twitter.png);
}

.qiita {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../images/profile/qiita.png);
}

.clock_app {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(../images/profile/clock-image.png);
}

.observation {
    height: 80px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(../images/profile/video.png)
}

.remover {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(../images/profile/text.png)
}

@media (max-width: 700px) {
    /* 1項目目 */
    .unit-modal_inner {
        display: block;
        width: 100%;
        margin-top: 45px;
    }

    .feature-list dl {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;

    }

    .feature-list dd {
        margin-top: 5px;
        margin-left: 30px;
    }

    .feature-list dt {
        width: 110px;
        margin-bottom: 20px;
    }

    .unit-modal_inner img {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }

    /* 2項目目 */
    .feature {
        display: block;
        width: 800px;
        margin-top: 45px;
    }

    .feature-text {
        margin-right: 0;
    }

    .reverse .feature-text {
        margin-left: 0;
    }

    .feature img {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
}
