@charset "utf-8";

.title a{
    height: 310px;
    background-image: url(../images/research/research.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

.research_contents {
    margin-top: 100px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.research_contents h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 32px;
}

.research_contents h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 0px;
}

.article p {
    line-height: 165%;
    margin-top: 15px;
}

.equation {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}

.axiom_list {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.theorem {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.article_image {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

.caption {
    margin-top: 20px;
}

.theorem_title {
    font-weight: bold;
    font-size: 20px;
}

.reference {
    margin-top: 10px;
}

.reference_title {
    font-size: 24px;
    font-weight: bold;
}

.last_update {
    text-align: right;
    margin-top: 30px;
}

.footer {
    margin-top: 100px;
}

@media (max-width: 700px) {
    .item-list {
        margin-top: 45px;
        row-gap: 40px;
    }

    .research_contents h2 {
        font-size: 25px;
    }

    .article_image {
        margin-left: 15%;
        margin-right: 15%;
    }
}
